.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-item {
    padding: 10px;
    text-align: center;
    height: 100px;
}

.button-primary {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
}

    .button-primary:hover {
        background-color: var(--darker-blue);
        color: var(--white);
        font-weight: bold;
    }

    .button-primary:active {
        font-weight: bold;
    }

    .button-primary:disabled {
        background-color: var(--lightest-blue);
    }

.button-secondary {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--blue);
    background-color: var(--yellow);
}

    .button-secondary:hover {
        background-color: var(--darker-yellow);
        color: var(--blue);
        font-weight: bold;
    }

    .button-secondary:active {
        font-weight: bold;
    }

    .button-secondary:disabled {
        background-color: var(--lightest-yellow);
    }

.button-outline-primary {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--blue);
    background-color: var(--white);
    border: 2px solid var(--blue);
}

    .button-outline-primary:hover {
        background-color: var(--blue);
        font-weight: bold;
        color: var(--white);
    }

    .button-outline-primary:active {
        font-weight: bold;
    }

    .button-outline-primary:disabled {
        color: var(--white);
        border: 2px solid var(--lightest-blue);
    }

.button-outline-secondary {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--yellow);
    background-color: var(--white);
    border: 2px solid var(--yellow);
}

    .button-outline-secondary:hover {
        background-color: var(--darker-yellow);
        font-weight: bold;
        color: var(--white);
    }

    .button-outline-secondary:active {
        font-weight: bold;
    }

    .button-outline-secondary:disabled {
        color: var(--lightest-blue);
        border: 2px solid var(--lightest-blue);
    }

.button-outline-light {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--blue);
    background-color: var(--yellow);
    border: 2px solid var(--blue);
}

    .button-outline-light:hover {
        background-color: var(--darker-yellow);
        color: var(--blue);
        font-weight: bold;
    }

    .button-outline-light:active {
        font-weight: bold;
    }

    .button-outline-light:disabled {
        background-color: var(--lightest-yellow);
        border: 2px solid var(--lightest-blue);
    }

.button-outline-dark {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--yellow);
    background-color: var(--blue);
    border: 2px solid var(--yellow);
}

    .button-outline-dark:hover {
        background-color: var(--darker-blue);
        color: var(--yellow);
        font-weight: bold;
    }

    .button-outline-dark:active {
        font-weight: bold;
    }

    .button-outline-dark:disabled {
        background-color: var(--lightest-blue);
    }