.cardArticle {
    width: 312px;
    height: 328px;
    border: 2px solid var(--lightgray);
}

.thumbnail {
    background-color: var(--blue);
    width: 312px;
    height: 208px;
}

.cardInfo {
   padding: 4px;
}

.link {
    padding: 20px 4px 10px 40px;
}