.cardArticle {
    width: 312px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    background-color: white;
}

.cardArticle:hover {
    filter: drop-shadow(4px 8px 10px #8C8C8C);
}

.thumbnail_img {
    background-color: var(--blue);
    border-radius: 8px 8px 0px 0px;
    height: 224px;
    border: none;
}

.cardInfo {
   padding: 16px;
}

.link {
    padding: 16px;
}

.faq-container {
    max-width: 1153px;
    margin: 50px auto;
    padding: 20px;
    align: center;
}
  
.faq-title {
    margin: auto;
    margin-bottom: 40px;
    color: black;
}
  
.faq-items {
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
}

.faq-item {
    border-bottom: 1px solid #ecf0f1;
    overflow: hidden;
}
  
.faq-question {
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
  
.faq-question:hover {
    /*   background-color: #d0d7de; */
    background-color: #ecf0f1;
}

.faq-question.active .ph-caret-down {
    transform: rotate(180deg);
  }

.faq-question.active {
    background-color: #1c2674;
    color: white;
    margin: 20px 0px;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: white;
    display: block;
}

.faq-answer p {
    padding: 0px 20px 20px 20px;
    color: black;
}
  
.choices {
    display: flex;
    gap: 24px;
}

.membersCard {
    width: 312px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    color: var(--blue);
    background-color: var(--yellow);
}

.membersCard:hover {
    filter: drop-shadow(4px 8px 10px #8C8C8C);
}

.employersCard {
    width: 312px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    color: white;
    background-color: #398434;
}

.employersCard:hover {
    filter: drop-shadow(4px 8px 10px #8C8C8C);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.file.row {
    width: 624px;
    height: 192px;
    margin: auto;
    padding: 8px 24px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    background-color: white;
}

.pdf-thumbnail {
    width: 312px;
    height: 160px;
    margin: auto;
    border-radius: 8px;
    background-color: var(--blue);
}

.pdf-info {
    margin: auto;
    padding-left: 16px;
    
}