.feedback-popups {
    display: inline-flex;
    padding: 16px;
    gap: 16px;
}

.success-popup {
    width: 22.5rem;
    /* height:11.25rem; */
    border: 2px solid var(--light-gray);
    border-radius: 8px;
}

.success-tab {
    background-color: var(--lightest-green);
    color: var(--darker-green);
    display: flex;
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
}

.exit-popup-icon {
    font-size: 24px;
    margin: auto;
    padding-left: 64px;
    right: 0px;
}

.popup-message {
    padding: 16px;
    background-color: var(--white);
    border-radius: 8px;
}

.error-popup {
    width: 22.5rem;
    /* height:11.25rem; */
    border-radius: 8px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
}

.error-tab {
    background-color: var(--lighter-red);
    color: var(--darker-red);
    display: flex;
    margin: auto;
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
}

.warning-popup {
    width: 22.5rem;
    /* height:11.25rem; */
    border: 2px solid var(--light-gray);
    border-radius: 8px;
}

.warning-tab {
    background-color: var(--lighter-yellow);
    color: var(--darker-yellow);
    display: flex;
    margin: auto;
    padding: 8px 16px;
    border-radius: 8px 8px 0px 0px;
}

.success-field {
    padding: 16px;
    border: 2px solid var(--green);
    border-radius: 8px;
    background-color: white;
    width: 624px;
}

.error-field {
    padding: 16px;
    border: 2px solid var(--red);
    border-radius: 8px;
    background-color: white;
    width: 624px;
}

.warning-alert {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    background-color: var(--yellow);
    color: var(--blue);
    padding: 16px;
    border-radius: 8px;
    width: 67.125rem;
}

.icon24 {
    font-size: 24px;
}