label, h1, p {
    color: var(--white);
    padding: 16px 24px 8px 16px;
}

/* 
h1, p {
    padding: 16px 24px 8px 16px;
} */

.emblem {
    width: 40%;
    padding: 32px 0px 0px 20px;
    right: 10px;
}

.banner {
    background-color: var(--blue);
    max-width: none;
    padding: 16px;
}

.info {
    margin: auto;
    padding: 32px;
}

.right {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column.info {
    flex: 2;
}

.column.right {
    flex: 1; 
}

.tabs {
    background-color: var(--yellow);
    padding: 24px;
}

.tab {
    text-decoration: none;
    padding: 16px;
}

.tab:hover {
    font-weight: bold;
}

.top-nav {
    padding: 1.563rem 2.188rem;
    display: flex; 
    align-items: center;
}

.logo {
    display: flex;
    padding-right: 1.25rem;
    height: 3.125rem;
    align-items: center;
    
}

.nav-links {
    margin-left: 10.125rem;
    margin-right: 10.125rem;
    display: flex; 
    gap: 1rem;
}

.nav-item {
    max-width: 8.938rem;
}

.nav-buttons {
    display: flex;
    gap: 1.25rem;
}

.button-primary {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
    min-width: 12.5rem;
    max-width: 14.063rem;
    align-items: center;
}

    .button-primary:hover {
        background-color: var(--darker-blue);
        font-weight: bold;
    }

    .button-primary:active {
        font-weight: bold;
    }

    .button-primary:disabled {
        background-color: var(--lightest-blue);
    }


h6 {
    color: var(--blue);
}

h6:hover {
    font-weight: 700;
}