.enter {
    padding: 4px 0px;
    width: 624px;
}

.text-field {
    padding: 16px;
    border: 2px solid var(--light-gray);
    border-radius: 8px;
    background-color: white;
}

input {
    margin-top: 0.5rem;
}
  
input::placeholder {
    color: var(--light-gray);
}