body {
    background-color: #fdfdfd;
    font-family: "greycliff-cf";
}

:root {
    --blue: #1c2674;
    --light-blue: #26339C;
    --lighter-blue: #3041C5;
    --lightest-blue: #7C87DF;
    --darker-blue: #12184A;
    --darkest-blue: #080B21;

    --yellow: #fab32f;
    --light-yellow: #FBC560;
    --lighter-yellow: #FCD791;
    --lightest-yellow: #FEE9C3;
    --darker-yellow: #EF9D06;
    --darkest-yellow: #BD7D05;

    --white: #F2F2F2;
    --lightgray: #BFBFBF;
    --gray: #8C8C8C;
    --darkgray: #595959;
    --black: #262626; 
}

h1, h2, h3, h4, p, label, a, .link {
    font-family: "greycliff-cf";
    margin: 0px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

a {
    font-size: 16px;
    font-weight: 400;
}

p {
    /* font-weight: medium; */
    font-size: 16px;
    font-weight: 400;
}

label {
    /* font-weight: bold; */
    font-size: 12px;
    font-weight: 300;
}

.link {
    font-style: italic;
    font-size: 14px;
    color: var(--blue);
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

nav {
    display: inline;
}

.nav-link {
    color: var(--blue);
}

.active {
    font-weight: bold;
}

.button-primary {
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    padding: 16px;
    font-style: none;
}