* {
    font-family: "greycliff-cf","Lexend Deca", sans-serif !important;
}


body {
    background-color: #fdfdfd;
}

:root {
    --blue: #1c2674;
    --light-blue: #26339C;
    --lighter-blue: #3041C5;
    --lightest-blue: #7C87DF;
    --darker-blue: #12184A;
    --darkest-blue: #080B21;

    --yellow: #fab32f;
    --light-yellow: #FBC560;
    --lighter-yellow: #FCD791;
    --lightest-yellow: #FEE9C3;
    --darker-yellow: #EF9D06;
    --darkest-yellow: #BD7D05;

    --white: #FFFFFF;
    --lighter-gray: #F2F2F2;
    --light-gray: #BFBFBF;
    --gray: #8C8C8C;
    --dark-gray: #595959;
    --black: #262626; 

    --green: #398434;
    --darker-green: #295F25;
    --darkest-green: #193B17;
    --light-green: #49A842;
    --lightest-green: #64C05E;
    --lightest-green: #CEEBCC;

    --red: #BF2229;
    --darker-red: #931A20;
    --darkest-red: #681216;
    --light-red: #DC383F;
    --lighter-red: #E36369;
    --lightest-red: #F3BABC;

    --heading-1: ;
    --heading-2: ;
    --heading-3: ;
    --subtitle: ;
    --body-large: ;
    --body-regular: ;
    --label: ;
    --link: ;


}

h1, h2, h3, h4, h5, p, label, a, .link {
    margin: 0px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    font-weight: 500;
}

.navbar-item {
    font-weight: 500;
    font-size: 18px;
}

/* body large */
.bodylarge {
    font-weight: 500;
    font-size: 16px;
}

a {
    font-size: 16px;
    font-weight: 400;
}

p {
    /* font-weight: medium; */
    font-size: 16px;
    font-weight: 400;
}

label {
    /* font-weight: bold; */
    font-size: 12px;
    font-weight: 300;
}

.link {
    font-style: italic;
    font-size: 14px;
    color: var(--blue);
}

input {
    margin-top: 0.5rem;
}
  
input::placeholder {
    font-family: "greycliff-cf";
    font-size: 16px;
    font-weight: 400;
    color: var(--light-gray);
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}


.button-primary {
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    padding: 16px;
    font-style: none;
}

.main {
    background-color: var(--blue);
}

.main-left {
    margin: auto;
    padding: 0px 64px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}