* {
    font-family: "greycliff-cf","Lexend Deca", sans-serif !important;
}


body {
    background-color: #fdfdfd;
}

:root {
    --blue: #1c2674;
    --light-blue: #26339C;
    --lighter-blue: #3041C5;
    --lightest-blue: #7C87DF;
    --dark-blue: #12184A;
    --darker-blue: #080B21;

    --yellow: #fab32f;
    --light-yellow: #FBC560;
    --lighter-yellow: #FCD791;
    --lightest-yellow: #FEE9C3;
    --dark-yellow: #EF9D06;
    --darker-yellow: #BD7D05;

    --white: #FFFFFF;
    --lighter-gray: #F2F2F2;
    --light-gray: #BFBFBF;
    --gray: #8C8C8C;
    --dark-gray: #595959; 
    --darker-gray: #262626;
    --darkest-gray: #0D0D0D;
    --black: #000000; 

    --green: #398434;
    --dark-green: #295F25;
    --darker-green: #193B17;
    --light-green: #49A842;
    --lighter-green: #64C05E;
    --lightest-green: #CEEBCC;

    --red: #BF2229;
    --dark-red: #931A20;
    --darker-red: #681216;
    --light-red: #DC383F;
    --lighter-red: #E36369;
    --lightest-red: #F3BABC;
}

/* FONT WEIGHTS --------------------------------------------------------*/
.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.demi {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}



/* FONT SIZES --------------------------------------------------------*/
.extra-small {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    margin: 0px;
}

.label, .link {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 0px;
}

.link-action {
    font-family: "greycliff-cf", sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: 0px;
}

.body-base, .button-text {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 14px;
    margin: 0px;
}

.body-scale-1 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
}

.body-scale-2 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 20px;
    margin: 0px;
}

.subtitle {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 24px;
    margin: 0px;
}

.subtitle-scale-1 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 28px;
    margin: 0px;
}

.subtitle-scale-2 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 32px;
    margin: 0px;
}

.heading-3 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 40px;
    margin: 0px;
}

.heading-2 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 48px;
    margin: 0px;
}

.heading-1 {
    font-family: "greycliff-cf", sans-serif;
    font-style: normal;
    font-size: 56px;
    margin: 0px;
}





input {
    margin-top: 0.5rem;
}
  
input::placeholder {
    font-family: "greycliff-cf";
    font-size: 16px;
    font-weight: 400;
    color: var(--light-gray);
} */

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}


.button-primary {
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
    padding: 16px;
    font-style: none;
}

.main {
    background-color: var(--blue);
}

.main-left {
    margin: auto;
    padding: 0px 64px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}