table {
    margin: auto;
    padding-top: 32px;
}

th {
    padding: 16px;
    background-color: var(--blue);
    color: white;
}

td {
    padding: 16px;
    align-items: left;
}

/* .extra-small {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

.label, .link {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.body-base, .button-text {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.body-scale-1 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.body-scale-2 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.subtitle {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.subtitle-scale-1 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.subtitle-scale-2 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

.heading-3 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.heading-2 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

.heading-1 {
    font-family: "greycliff-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
} */
